.Description {
  margin-top: 1.5rem;
  text-align: left;
  color: white;
  padding: 0 100px;
  width: 75vw;
}

.Description strong {
  color: #ff1515;
}

.Description a {
  padding: 1rem;
  background-color: #e99b5a;
  color: #1f2727;
  text-decoration: none;
}

.Description a:hover {
  background-color: #1f2727;
  color: #e99b5a;
}
