@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900i&display=swap');

html { 
  background: url(./images/rtp.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: rgba(25, 25, 25, 0.4);
}

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App .navbar {
  padding-left: 50px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #FF1515;
}

.App .navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;  
}

.App .navbar ul li {
  display: table-cell; 
  position: relative; 
  padding: 2rem 0;
}

.App .navbar ul li a {
  text-decoration: none;
  color: #FF1515;
  font-size: 1.5rem;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.App .navbar ul li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FF1515;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.App .navbar ul li a:hover:after { 
  width: 100%; 
  left: 0; 
}

.App-header {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:white;
}

.App-header h1 {
  background-image: url('./images/stranger-things-logo.png');
  background-repeat: no-repeat;
  width: 34.375rem;
  height: 3.75rem;
  text-indent: -10000px;
}

.App-header h2 {  
  text-align: right;
  margin-top: -2rem;
  color: #FF1515;
}

.App-header h2 span {
  font-weight: 900;
  font-style: italic; 
}

.App-header h3 {
  line-height: 3rem;
  font-size: 1.5rem;
}




