.App {
  text-align: center;
  background: rgb(62,0,0);
  background: radial-gradient(circle, rgba(62,0,0,1) 0%, rgba(85,4,4,1) 46%, rgba(121,9,9,1) 71%, rgba(201,4,4,1) 99%, rgba(255,0,0,1) 100%);  
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
